<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css"  rel="stylesheet" href="/public/styleRegister.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>creataccount</title>
</head>
<body>
    <main>
        <div class="container-grid">
            <div class="container-form">
                <form action="" method="post">
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email-form" required><br>

                    <label for="username">UserName</label><br>
                    <input type="text" name="username" id="name-form" required><br>

                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="pass-form" required><br>

                    <p>Gender:</p>
                    <input type="radio" name="gender" id="gender-form-masc" value="masculine">
                    <label for="gender-form-masc">Masculine</label>
                    
                    <input type="radio" name="gender" id="gender-form-fem" value="feminine" >
                    <label for="gender-form-fem"> Feminine</label><br>

                    <label for="date">Birth Date</label>
                    <input type="datetime" name="date" placeholder="DD/MM/YYYY"  required><br>
                    
                    <button class="button-form" type="submit">Register</button>
                </form>
            </div>

            <div class="container-img"> 
                <img src="/public/imagem/noquestions.svg" alt="data">
            </div>

            
        </div>
    </main>
</body>

<script>
    



</script>
</html>